<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaoni.theCulureOfLearning.login.mapper.MemberMapper">
	<insert id="join">
		INSERT INTO MEMBER (id, pass, name, join_date)
		VALUES (#{id},#{pass},#{name},current_timestamp());
	</insert>
	
	<select id="loginCheck" resultType="String">
		SELECT NAME FROM MEMBER WHERE id=#{id} AND pass=#{pass};
	</select>
</mapper>